body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
#main a 
  width 100%
  height 100%
  color #3A3A46
  
li 
 list-style-type square

#recherche_
 margin-left 10px
 margin-top -3px

#recherche_input
 height 24px
 font-size 15px
 line-height 24px
