body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding-left 100px
  padding-top 30px
  margin-bottom 30px

a
  color: #00B7FF

#logoUQAM
  width 350px
  height 75px

#green
  width 20px
  margin-left 10px
  margin-top 3px

#blue
  width 20px
  margin-left 10px
  margin-top 12px

#blueG
  width 20px
  

#perso input
  float left
  font-size 12px
  padding 4px 2px
  border solid 1px #0B2161
  width 150px
  margin 2px 0 20px 10px

fieldset
  width 350px

#infoCours
  margin-left 400px
  margin-top -142px

#perso label
  display block
  text-align right
  width 140px
  padding-top 5px
  float left

#infoCours input
  float left
  font-size 12px
  padding 4px 2px
  border solid 1px #0B2161
  width 150px
  margin 2px 0 20px 10px

#infoCours label
  display block
  text-align right
  width 140px
  padding-top 5px
  float left

#inscription
  margin-left 350px 
  margin-top 30px
  margin-bottom 30px

#result
   display block
   width 350px
   height 332px
   margin-top -430px
   margin-left -718px

#tempFont
   color red 
   display block
   font-size 11px
   font-weight normal
   text-align right
   margin-top -5px
   width 140px

#resultat
   color blue
   display block 
   font-size 11px

.sigle_1 img
   width 20px
   margin-left 10px
   margin-top 25px
 
