!!!
html
  head
    title Carnet d'Adresses
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='./bootstrap/css/bootstrap.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    script(src='../bootstrap/js/bootstrap.js')
    script(src='./javascripts/index.js')
  body
    div#header_container.navbar
      h3
       a.brand(href='/') Carnet d'Adresses
       button#recherche_.btn.btn.btn-sm.btn-default.pull-right(type='button') Rechercher
       input#recherche_input(type='text', class="style_input pull-right input-medium", placeholder='Nom, Prénom, Organisation')
    div#main
      div#resultatRecherche
      h4 Cliquez sur "Ajouter un contact" ou cliquez sur les contacts de votre liste pour gerer votre carnet d'adresse 
        br 
       h3 
        a#ajouterBouton(href='#') Ajouter un contact
     div#ajouter
        input#homme(type='radio', name='sexe', value='Homme')
        label Homme
        br
        input#femme(type='radio', name='sexe', value='Femme') 
        label Femme
        br
        br
        .control-group
         label Nom *
        .controls
         input#nom.input-mini(type='text' , name='nom')
        br
        .control-group
         label Prénom *
        .controls
         input#prenom(type='text' , name='prenom')
        br
        .control-group
         label Titre
        .controls
         input#titre(type='text' , name='titre')
        br
        .control-group
         label Organisation
        .controls
         input#org(type='text' , name='organisation')
        br
        .control-group
         label Profession
        .controls 
         input#job(type='text' , name='profession')
        br
        .control-group
         label Date de naissance 
        .controls
         input#naissance(type='text', placeholder='AAAA/MM/JJ', name='naissance')
        br
        label Numéro de téléphone
        button#telephone.btn.btn-sm.btn-default Ajouter 
        div#liste-telephone
        br
        label Courriel
        button#courriel.btn.btn-sm.btn-default Ajouter
        div#liste-courriel
        br 
        label Adresse 
        button#adresse.btn.btn-sm.btn-default Ajouter  
        div#liste-adresse
        br
        label Site web
        button#website.btn.btn-sm.btn-default Ajouter
        div#liste-website
        br
        label Date importante
        button#dateImportante.btn.btn-sm.btn-default Ajouter
        div#liste-date
        br
        label Note additionnelle
        input#noteAdditionnelle(type='text')
        br
        br
        button#sendform.btn.btn-default Ajouter le contact  
        br
      h3
       a#listeContact(href='#')  Liste de contact
      h4 Cliquez sur un contact pour voir sa fiche.
     div#liste
      div#fiche
      div#fiche_modif
       div#modif_telephone
       div#modif_courriel 
