!!!5
html
   head
     link(rel="stylesheet", type="text/css", href="./stylesheets/style.css")
     script(src="./javascripts/jquery.js")
     script(src="./javascripts/home.js")
     meta(charset="utf-8")
     title TP1 - Système d'inscription UQAM 
   body
     img(id="logoUQAM" , src="./images/uqamLogo.png")
     p Bienvenue sur la page d'inscription de l'UQAM. 
       | veuillez entrez vos informations ci-dessous et cliquez sur le bouton 
       | Inscription.

     br 
     form(id="superForm")
      fieldset(id="perso")  
        legend Vos informations
        br
        label Code de programme 
        input(id="codeProgramme" , type="text" , size="20")
        span(id="codeP")
        br
        label Code Permanent
        input(id="codePermanent" , type="text" , size="20")    
        br
        span(id="codePerm")

      fieldset(id="infoCours")
        legend Cours
        br
        label Sigle cours 
        input(id="sigle_1" , type="text" , size="10")
        span(class="sigle_1")
        label Groupe
        input(id="sigle_1_groupe" , type="text" , size="5")
        br
        label Sigle cours 
        input(id="sigle_2" , type="text" , size="10")
        span(class="sigle_2")
        label Groupe
        input(id="sigle_2_groupe" , type="text" , size="5")
        br
        label Sigle cours 
        input(id="sigle_3" , type="text" , size="10")
        span(class="sigle_3")
        label Groupe
        input(id="sigle_3_groupe" , type="text" , size="5")
        br
        label Sigle cours 
        input(id="sigle_4" , type="text" , size="10")
        span(class="sigle_4")
        label Groupe
        input(id="sigle_4_groupe" , type="text" , size="5")
        br
        label Sigle cours 
        input(id="sigle_5" , type="text" , size="10")
        span(class="sigle_5")
        label Groupe
        input(id="sigle_5_groupe" , type="text" , size="5")
        br
      input(id="inscription" , type="button" , value="Inscription" )

         
     div(id="resultDiv")
       fieldset(id="result")
         legend Resultat
         div(id="retour")
         p(id="resultat")
           
